@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif ;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #091012, #3a4452);
}
.Calculator {
  background: #161616;
  color: rgb(60, 143, 167); 
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #242020;
  box-shadow: 0 3px 10px rgba(60, 60, 60, 0.5);
}
input{
    width: 310px;
    height: 15vh;
    border: 1px solid #070707;
    border-radius: 10px;
    margin: 10px;
    padding: 24px;
    font-size: 40px;
    background: rgb(152, 147, 181);
    box-shadow: 0 3px 15px rgbs(84,84, 84, 0.1);
    text-align: right;
    cursor: pointer;
}
input::placeholder
{
    color: #ffffff;
}
button{
    color: #ffffff;
    width: 60px;
    height: 60px;
    margin: 10px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    background:transparent;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.2);
}
.equalBtn{
    background-color: rgb(235, 125, 21);
}
.oprator{
    color: #2fc07c;
}